nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F7115F;
    padding: 10px;
    box-shadow: 4px 10px 4px rgba(0, 0, 0, 0.1);
    z-index: 10;
  }
  
  
  .logo img {
    height: 40px;
    margin-left: 2rem;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .nav-links li a {
    margin-right: 2rem;
    font-weight: 500;
    color: #EEF0EF;
    text-decoration: none;
    padding: 5px;
  }

  
